/* -----------------
        common style area
---------------------- */
* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital,wght@0,500;1,500;1,600&family=Work+Sans:wght@500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    background: rgba(255, 144, 14, 0.1);

}

.main-contianer {
    margin: 0px auto;
    width: 80%;
    /* background-color: antiquewhite; */
}

/* --------------------------------
      nav bar style area
    ----------------------------- */

.brand-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brant-tittle,
.right-side {
    margin-top: 50px;
}


.brant-tittle {
    font-weight: 700;
    font-size: 45px;
    color: #131313;

}

.right-side {
    display: flex;
    gap: 15px;
}

.menu-area ul>li,
a {
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;

}
/* -----------------
all button tag
---------------------- */
.btn-primary {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 5px;
    border: 0;
    margin-bottom: 50px;

}
.btn-primary2 {
    width: 300px;
    height: 300px;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 15px;
    border: 0;
    margin-bottom: 50px;

}
.years-ten{
    font-size: 4rem;
    font-weight: 700;
}
h6{
    font-size: 1.5rem;
    font-weight: 400;
}
/* --------------------------
 psudo elemet used only
----------------------- */
.main-features{
     position: relative; 
}
.btn-primary2{
    position: absolute;
    left:550px;
    top: 450px;
}
  :hover.price-contain{
    transform: rotate(145deg);
 }

.price-contain{
    transition: transform, 5s, height 2s, background-color 2s, transform 3s;
}
/* -----------------------------
    banner center area style
------------------------------ */

.banner-main-center- {
    margin-top: 130px;
    text-align: center;

}

.center-text {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 15px;
}

.center-culomtext {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 868px;
    height: 52px;
    margin: 30px;
    line-height: 26px;
    text-align: center;
    margin: 0px auto;

}



/* ---------------------
 banner images area
-------------------- */
.images-banner>img {
    width: 100%;
    height: 100%;
}

/* -----------------
    quick style area
----------------- */
.quick-blogs {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
}

.quick-image-leftsit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-imgcut {
    width: 250px;
    height: 250px;
}

.quick-heading {
    width: 468px;
    height: 106px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.gray-text {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.glod-text {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.quick-para {
    width: 537px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 10px;
}

/* ------------------------------

  features left  style start

---------------------------- */
.main-features {
    margin-top: 130px;
    display: flex;
    gap: 146px;
    align-items: center;
}

.featur-main-heading {

    border-left: 4px solid red;
}

.sub-featur {
    margin-left: 21px;
    width: 450px;
    height: 106px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;

}

.featur-para {
    margin-top: 24px;
    width: 586px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

/* ----------
 digital menu are
------------ */
.feature-version {
    margin-bottom: 20px;
}

.sub-version {
    margin: 30px;
}

.upsub-version {
    height: 23px;
    left: 273px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;

}

.uppara-version {
    width: 514px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.feature-ing {
    width: 100%;
    height: 800px;
}

/* -------------------------------
    some style facts
----------------------------------- */
.some-contianer {
    margin-top: 130px;
}

.some-head {
    width: 258px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.some-pare {
    width: 542px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
}

/* -----------------
    awards-area style
-------------- */
.awards-area {
    margin: 100px 0px 0px 50px;
    display: flex;
    gap: 70px;
}

.price-contain {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    text-align: center;

}

.box-are {
    margin-top: 50px;
}

.give-award2 {


    font-weight: 600;
    font-size: 50px;
    font-weight: 400;
}

.give-award3 {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}


/* -------------------------
 sponser style area
---------------------- */
.sponser-main-center {

    margin-top: 130px;
    
}

.center-text1 {

    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
    margin-bottom: 15px;

}

.sopnser-two {

    height: 52px;
    width: 570px;
    text-align: center;
    margin: 0px auto;
    font-size: 18px;
    font-weight: 500;

}

.company {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.sizing-cover {
    filter: grayscale(100%);
}

/* --------------
    footer-area
----------------- */
main{
    margin-bottom: 80px;
}
.footer-side {
    
    width: 100%;
    height: 30px;
    margin-top: 130px;
    background-color: rgb(6, 6, 6);
}
.foot{
    
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 5px; 
}

/* ------------------------------

 breaking point  & responsive mobile divce
 ---------------------------- */
@media screen and (max-width: 576px) {

    .brand-name{
        flex-direction: column;
    }
    .quick-blogs{
        flex-direction: column;
    }
    .main-features{
        flex-direction: column;
    }
    .awards-area{
        flex-direction: column;
    }
    .company {
        flex-direction: column;
    }

    .quick-image-leftsit {
        grid-template-columns: repeat(1, 1fr);
        
    }

    .quick-text-rightsit {
        margin: 0 auto;

    }
    .center-culomtext{
        width: 400px;
    }
}