/* -----------------
        common style area
---------------------- */
* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital,wght@0,500;1,500;1,600&family=Work+Sans:wght@500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    background: rgba(255, 144, 14, 0.1);

}

.main-contianer {
    margin: 0px auto;
    width: 80%;
    /* background-color: antiquewhite; */
}

/* --------------------------------
      nav bar style area
    ----------------------------- */

.brand-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brant-tittle,
.right-side {
    margin-top: 50px;
}


.brant-tittle {
    font-weight: 700;
    font-size: 45px;
    color: #131313;

}

.right-side {
    display: flex;
    gap: 15px;
}

.menu-area ul>li,
a {
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;

}

/* -----------------------------
    banner center area style
------------------------------ */

.banner-main-center- {
    margin-top: 130px;
    text-align: center;

}

.center-text {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 15px;
}

.center-culomtext {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 868px;
    height: 52px;
    margin: 30px;
    line-height: 26px;
    text-align: center;
    margin: 0px auto;

}

.btn-primary {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 5px;
    border: 0;
    margin-bottom: 50px;

}

/* ---------------------
 banner images area
-------------------- */
.images-banner>img {
    width: 100%;
    height: 100%;
}

/* -----------------
    quick style area
----------------- */
.quick-blogs {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
}

.quick-image-leftsit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-imgcut {
    width: 250px;
    height: 250px;
}

.quick-heading {
    width: 468px;
    height: 106px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.gray-text {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.glod-text {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.quick-para {
    width: 537px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 10px;
}




/* ------------------------------

 breaking point  & responsive mobile divce
 ---------------------------- */
@media screen and (max-width: 576px) {
    .brand-name,.quick-blogs {
        flex-direction: column;
    }
    .quick-image-leftsit{
        grid-template-columns: repeat(1,1fr);
        margin: 0 aut;
    }
    .quick-text-rightsit{
        margin: 0 auto;
    }
}